#wrap_2 {
    position: relative;
    min-width: 700px;
    height: 100%;
    padding-bottom: 30px;
}

body {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
}
body, button, input, select, table, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    font-size: 12px;
}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body {
    display: block;
}
#container_2{
    position: relative;
    z-index: 20;
    max-width: 954px;
    height: 100%;
    margin: 0 auto;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
div {
    display: block;
}
#u_skip {
    position: relative;
    z-index: 2147483647;
}
#container_2 {
    position: relative;
    z-index: 20;
    max-width: 954px;
    height: 100%;
    margin: 0 auto;
}
#content {
    position: relative;
    padding: 69px 51px 2px;
}
.c_header {
    padding-bottom: 43px;
}
.c_header h2 {
    font-size: 20px;
    line-height: 22px;
    position: relative;
    color: #333;
}
.c_header .contxt {
    line-height: 19px;
    padding-top: 10px;
    letter-spacing: -1px;
    color: #666;
}
.c_header .contxt strong {
    font-size: 14px;
    color: gray;
}
strong {
    font-weight: bold;
}
.c_header .contxt a {
    text-decoration: underline;
    color: #336fc9;
}
fieldset, img {
    border: 0;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
.tbl_model {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: keep-all;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
caption {
    display: table-caption;
    text-align: -webkit-center;
}
.blind, legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
colgroup {
    display: table-column-group;
}
col {
    display: table-column;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tbl_model {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: keep-all;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.tbl_model th {
    color: #333;
    border-right: 1px solid #e5e5e5;
    background: #f9f9f9;
}
.tbl_model td, .tbl_model th {
    line-height: 14px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
}
.tbl_model .thcell {
    padding: 32px 31px 32px;
}    
.tbl_model .tdcell {
        padding: 8px 0 15px 30px;
    }

.word_br {
    display: inline-block;
}
.tbl_model .contxt_tit {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
label {
    cursor: default;
}
.tbl_model .contxt_webctrl {
    font-size: 0;
    line-height: 0;
    position: relative;
    overflow: hidden;
    margin-left: -8px;
    padding: 13px 0 5px;
    color: #666;
}
.tbl_model .contxt_tit2, .tbl_model .contxt_tit3 {
    font-weight: 700;
    padding-top: 27px;
    color: #333;
}

.tbl_model .contxt_alert, .tbl_model .contxt_guide {
    clear: both;
    padding: 3px 0 1px;
    color: red;
}
.tbl_model .contxt_webctrl .btn_model, .tbl_model .contxt_webctrl .country_drop, .tbl_model .contxt_webctrl input, .tbl_model .contxt_webctrl_box .btn_model {
    margin-left: 8px;
}
.tbl_model .btn_area_btm {
    overflow: hidden;
    margin-left: -8px;
    padding-top: 14px;
    text-align: left;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
.ad_check_inner {
    position: relative;
    display: block;
    float: left;
}
.ad_text {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    letter-spacing: -1px;
    color: #222;
}

.btn_model[href] b, .btn_model[href]>em, .btn_model[href]>span {
    cursor: pointer;
}
.btn_model[href] .btn2 {
    color: #333;
}
.btn_model .btn2 {
    border: 1px solid #bfbfbf;
    background: #fff;
}
.btn_model .btn1, .btn_model .btn2, .btn_model .btn3 {
    min-width: 52px;
    height: 34px;
    padding: 10px 12px 0;
    color: #a3a3a3;
}
.btn_model .btn4 {
    color: #666;
    border: 1px solid #ccc;
    background: #fbfbfb;
}
.btn_model .btn4, .btn_model .btn5, .btn_model .btn6 {
    height: 14px;
    padding: 8px 8px 5px 7px;
    color: #a3a3a3;
}
.btn_model b, .btn_model>em, .btn_model>span {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1px;
}.btn_model {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none!important;
}
.btn_model b, .btn_model>em, .btn_model>span {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1px;
}
.tbl_model .contxt_desc, .tbl_model .contxt_desc3 {
    line-height: 19px;
    padding-top: 10px;
    color: #8e8e8e;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#footer {
    position: relative;
    z-index: 10;
    clear: both;
    max-width: 914px;
    margin: 0 auto;
    padding: 0 20px;
}
.ginger-extension-writer {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 100001;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
.ginger-extension-writer-frame {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 4%;
    bottom: 10%;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.ginger-extension-writer-frame > iframe {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 20px 1px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.quicksearch {
    position: absolute;
    font-family: sans-serif;
    top: 0px;
    left: 0px;
    z-index: 2147483647;
    --hover-color: #f8f8f8;
    --bg-color: #FDFDFD;
    --text-color: #303030;
    --menu-icon-color: #5a5857;
    --menu-hover-color: #1ec197;
    --menu-disabled-color: #ababab;
    --border-color: rgba(0,0,0,0.3);
    --button-normal-bg: #24db9c;
    --button-normal-border: #25c38d;
    --button-hover-bg: #24db9c;
    --button-hover-border: #25c38d;
    --button-normal-bg-on: #021b57;
    --button-normal-border-on: #021541;
    --button-hover-bg-on: #021b57;
    --button-hover-border-on: #021541;
    --min-width: 173px;
    --border-radius: 5px;
}
#content:after {
    display: block;
    clear: both;
    content: '';
}