@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{margin:0; padding:0; box-sizing: border-box;}
body{
    
    justify-content:center;
    align-items: center;
    background-size:cover;
    background: url("pastel2.jpg") no repeat center;
    animation:image_change 10s infinite;
    
}

section{
	font-family: 'Dongle';
    box-shadow: 1px 3px 19px 4px lightgray; width:600px; 
    margin-top:60px; 
    padding-top:30px;
    padding-bottom:20px;
    margin-inline: auto;
}

body::before{
    position: absolute; z-index: 1;
    top:0; right:0; bottom:0; left:0;
    
}
.int_area input{
    width:60%;
    height:40px;
    padding: 1px 10px 0px 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #999;
    font-size: 20px; color: lightslategray;
    outline:none;
}

.int_area input[type="radio"]{
    width:20px;
    height:20px;
  
}



.find_id_form h1{
	margin-top: 10px;
    font-size: 50px; color:gray;
    text-align: center;
    margin-bottom: 29px;
}

.find_id_form_2{
        margin-left:100px;
}

.int_area{
	margin-top:10px;
}
.int_area label{
   margin-left:10px;
   font-size:30px;
   color:#999;
}

.btn_area {margin-top:30px;}
.btn_area button{
    width:40%;
    margin-left:100px;
    height:40px;
    background:gray;
    color:white;
    font-size:40px;
    border: none;
    border-radius:25px;
    font-family: 'Dongle';
    
}
.btn_area button:disabled,
.btn_area button[disabled]{
margin-top:20px;
		margin-left:100px;
    width:40%;
    height:60px;
    background:lightgray;
    color:white;
    font-size:40px;
    border: none;
    border-radius:25px;
    font-family: 'Dongle';
 	 cursor:not-allowed;
}

<!--추가-->
.btn_area button{
	margin-left:280px;
    width:130px;
    height:60px;
    background:gray;
    color:white;
    font-size:35px;
    border: none;
    border-radius:25px;
    font-family: 'Dongle';
     	 cursor:pointer;
}
.injung_button{
	margin-left:10px;
    width:100px;
    height:40px;
    background:gray;
    color:white;
    font-size:30px;
    border: none;
    border-radius:25px;
    font-family: 'Dongle';
 	 cursor:pointer;
}
.injung_button:disabled,
.injung_button[disabled]{
	margin-left:10px;
    width:100px;
    height:40px;
    background:lightgray;
    color:white;
    font-size:30px;
    border: none;
    border-radius:25px;
    font-family: 'Dongle';
 	 cursor:not-allowed;
}


.back_button{
    width:100px;
    height:40px;
    background:gray;
    color:white;
    font-size:30px;
    border: none;
    border-radius:25px;
    font-family: 'Dongle';
 	 cursor:pointer;
 	 margin-top: 25px;
 	 margin-left: 247px;
}
